<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        <nav>
            <a asp-controller="Home" asp-action="Index">Home</a> |
            <a asp-controller="Agendamentos" asp-action="Index">Agendamentos</a> |
            <a asp-controller="Clientes" asp-action="Index">Clientes</a> |
            <a asp-controller="Funcionarios" asp-action="Index">Funcionários</a> |
            <a asp-controller="Especialidades" asp-action="Index">Especialidades</a> |
            <a asp-controller="Marcas" asp-action="Index">Marcas</a> |
            <a asp-controller="Produtos" asp-action="Index">Produtos</a> |
            <a asp-controller="Servicos" asp-action="Index">Serviços</a>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>