<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Marcas" asp-action="Index">Marcas</a></li>
                <li><a asp-controller="Cliente" asp-action="Index">Clientes</a></li>
            </ul>
        </nav>
    </header>

    <main style="padding: 20px;">
        @RenderBody()
    </main>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>